* {
  box-sizing: border-box;
}
 
 *:before,
 *:after {
  box-sizing: border-box;
}
html, body{
  position: relative;
  height: 100%;
}
.navbar {
  background-color: #e67e22;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fdfdfd;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #fdfdfd;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #fdfdfd; 
}
.navbar .navbar-nav .nav-link {
  color: black;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #fdfdfd;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #fdfdfd;
  background-color: #000000;
}
.navbar .navbar-toggle {
  border-color: #000000;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #000000;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #fdfdfd;
}

.navbar-brand{
  margin-left: 5%;
}
#navbarNav{
  margin-right: 5%;
}
.title{
  text-decoration: underline;
}
#about-paragraph{
  font-weight: 600;
}
.list-group-item{
  text-align: center;
}
.image-title{
  color: black;
  text-decoration: underline;
}
.image-caption{
  position: absolute;
  color: #c87125;
  text-decoration: underline;
  text-shadow: 0.5px 1px black;
  display: none;
}
.jumbotron{
  background-color: white;
}
.list-group, #project-list{
  padding-bottom: 2%;
}
.project-container{
  margin-bottom: 2%;
}
.project-title{
  font-weight: 500;
}
.project-link{
  font-size: 1.25em;
}
.orange-title{
  color: #e67e22;
}
#resume-main{
  margin-bottom: 1%;
}
#resume{
  margin-top: 1%;
}
.resume-title{
  text-decoration: underline;
}
.resume-list ul li{
  list-style-type: none;
  margin: 0 0 4px 1em;
}
.resume-list ul li::before{
  color: #e67e22;
  content: "\2022";
  display: inline-block;
  font-size: 2em;
  width: 1em;
  margin-left: -1.25em;
  margin-right: 0em;
}
.main-content{
  overflow: hidden;
  position: relative;
  display: block;
  padding-bottom: 2%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
}
.footer-header{
  margin-left: 5%;
  float: left;
}
.footer-header i, .footer-header{
  font-size: 1em;
}
.footer-icons{
  float: right;
  font-size: 1em;
}
.social-icon{
  width: 25px;
  height: 25px;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fdfdfd;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #000000;
  }
  .project-title{
    font-size: 1em;
  }
  .footer{
      display: none;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fdfdfd;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #000000;
  }
  .footer{
      display: none;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fdfdfd;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #000000;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fdfdfd;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fdfdfd;
    background-color: #000000;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #fdfdfd;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #fdfdfd;
  background-color: #000000;
}